@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.pagination {
  min-height: 70px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination a {
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid #02a4ea;
  color: #3abef7;
  margin-right: 10px;
}

.pagination__link {
  cursor: pointer;
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #3abef7;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

/* react quill editor */
.my-editor .ql-editor {
  min-height: 100px;
}
